<div class="container">
	<form>
		Product Name: <input type="text" name="prodName" ng-model="product.name">
		Quantity: <input type="text" name="prodQuantity" ng-model="product.quantity">
		<input type="submit" value="Submit" ng-click="newProduct(product)">
	</form>
	<div>
		<div class="col-xs-6">
			<li ng-repeat='letter in alphabet'>{{letter}}</li>
		</div>
		<div class="col-xs-6">
			<div class="col-xs-12" ng-repeat='product in products'>
				<li class="col-xs-4">Product: {{product.name}}</li>
				<button class="col-xs-2" ng-click="deleteProd(product)">Delete</button>
			</div>
		</div>
	</div>
</div>